<%- include('partials/header') %>
<main>
  <h2><%= title %></h2>

  <h3>Service Projects</h3>

  <ul>
    <% projects.forEach(project => { %>
      <li><a href="/project/<%= project.project_id %>"><%= project.title %></a></li>
    <% }); %>
  </ul>
</main>
<%- include('partials/footer') %>